<div class="metadata">
  <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
  {% if article.author %}
    <address class="vcard author">
      за авторством <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </address>
  {% endif %}
  у <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  {% if article.tags %}<p class="tags">Помічений {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last%}, {% endif %}{% endfor %}</p>{% endif %}
  {% if PDF_PROCESSOR %}<p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">Викачати .pdf</a></p>{% endif %}
</div>
